sys_include=($ORACLE_HOME/precomp/public,/usr/include,/usr/local/include{% if __oracle_client_gcc_libraries.stdout_lines is defined %},{{ __oracle_client_gcc_libraries.stdout_lines|join(',') }}{% endif %})
{# For Each C Library Found Include it #}
ltype=short
define=__x86_64__
